<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<script>
  //display rows of data
  $(document).ready(function(){
  getPosts();
})
</script>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>Database Web App</h1>
  </div>

  <button onClick="handleSignIn()">Login</button>

  <form onSubmit="handleMessageFormSubmit()" action="#">
    Title:<br>
    <input id="post-title"><br>
    Body:<br>
    <textarea id="post-body"></textarea><br>
    <button>Submit</button>

  </form>

  <div id="post-listing"></div>

</body>

</html>