<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>Weather API Web App</h1>
  </div>

<!--<p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>-->
  
<input class="search" type="text" placeholder="Enter city name">
<button type="button" onclick="searchWeather()">Search</button>
<!--bootstrap container-->
<br>
<br>
<div class="container">
    <div class = "row">
        <div class="col"><div class="error-message"></div></div>
    </div>
    <div class = "row" style="background-color: lightgray;">
        <div class="col">City</div>
        <div class="col">Temp</div>
        <div class="col">Feels Like</div>
        <div class="col">Humidity</div>
        <div class="col">Wind</div>
    </div>
    <div class = "row" style="background-color: ivory;">
        <div class="col"><div class="city"></div></div>
        <div class="col"><div class="temp"></div></div>
        <div class="col"><div class="feels_like"></div></div>
        <div class="col"><div class="humidity"></div></div>
        <div class="col"><div class="wind"></div></div>
    </div>
</div>
<br>
<br>
<!--original list-->
<!--<div class="error-message"></div>
<div class="city"></div>
<div class="temp"></div>
<div class="feels_like"></div>
<div class="humidity"></div>
<div class="wind"></div>-->

<!--first bootstrap grid
    <div class = "row">
        <div class="col-sm-4">City</div>
        <div class="col-sm-2">Temp</div>
        <div class="col-sm-2">Feels Like</div>
        <div class="col-sm-2">Humidity</div>
        <div class="col-sm-2">Wind</div>
    </div>
    <div class = "row">
        <div class="col-sm-4"><div class="city"></div></div>
        <div class="col-sm-2"><div class="temp"></div></div>
        <div class="col-sm-2"><div class="feels_like"></div></div>
        <div class="col-sm-2"><div class="humidity"></div></div>
        <div class="col-sm-2"><div class="wind"></div></div>
    </div>-->
</body>

</html>